# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\TonyC\Desktop\TMCProjects\mooc-java-programming-ii\part10-Part10_10.BooksFromFile\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
